<ion-header>
  <ion-navbar primary>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="img/home.png">
    <button large full *ngIf="!isRegistrado" (click)="goRegistro()">
      <ion-icon name="person-add"></ion-icon> Registrarse
    </button>
    <button large full (click)="goCatalogo()">
      <ion-icon name="albums"></ion-icon> Catálogos
    </button>
    <button large full *ngIf="isUpdateAvailable" (click)="goUpdate()">
      <ion-icon name="cloud-download"></ion-icon> Actualizar Catálogo
    </button>
    <button large full (click)="goPedidos()">
      <ion-icon name="cart"></ion-icon> Pedidos
    </button>
    <button large full (click)="goContacto()">
      <ion-icon name="contacts"></ion-icon> Contacto
    </button>
    <ion-list-footer padding>
      v1.1 by MAX
    </ion-list-footer>
  </ion-card>
</ion-content>